<header class="app-header flex align-center justify-between">
  <h1 class="main-heading">Mister BITcoin</h1>

  <nav class="main-nav">
    <ul class="main-nav-list clean-list flex align-center">
      <li
        class="nav-link"
        [class.active]="activeLink === 'home'"
        (click)="onSetActiveLink('home')"
      >
        Home
      </li>
      <li
        class="nav-link"
        [class.active]="activeLink === 'contacts'"
        (click)="onSetActiveLink('contacts')"
      >
        Contacts
      </li>
    </ul>
  </nav>
</header>
