<section class="contact-page">
  <div
    *ngIf="!selectedContactId"
    class="main-contacts flex column align-center"
  >
    <h1 class="main-heading">Your contacts</h1>
    <contact-filter></contact-filter>
    <contact-list
      (selectContact)="onSelectContact($event)"
      [contacts]="contacts$ | async"
    ></contact-list>
  </div>

  <contact-details
    *ngIf="selectedContactId"
    [contactId]="selectedContactId"
    (goBack)="selectedContactId = null"
  ></contact-details>
</section>
