@import "../../../assets/scss/setup/vars";
@import "../../../assets/scss/setup/mixins";

:host {
  display: flex;
  align-items: center;
  gap: 2em;

  width: 60vw;
  padding-block: 1em;
  padding-inline-start: 2em;
  border-radius: 2em;

  background-color: $contact-bg-clr;
  cursor: pointer;

  .contact-name {
    font-size: 1.8em;
  }

  .contact-img {
    width: 30px;
  }
}
