$main-font-clr: rgb(50, 51, 56);
$main-bg-clr: rgb(255, 255, 255);
$main-font-family: FigtreeRegular;

$app-header-height: 60px;

$homepage-bg-clr: rgb(173, 216, 230);
$contact-page-bg-clr: rgb(177, 244, 173);
$statistic-page-bg-clr: rgb(243, 254, 142);
$signup-page-bg-clr: rgb(254, 198, 142);

$active-link-clr: rgb(56, 112, 232);
$contact-bg-clr: rgb(214, 214, 214);
$btn-delete-clr: rgb(252, 109, 109);
$btn-go-back-clr: rgb(73, 222, 170);

$break-normal: 1000px;

// $clr-success: rgb(152, 232, 152);
// $clr-error: rgb(243, 150, 150);
