@import "../../../assets/scss/setup/vars";
@import "../../../assets/scss/setup/mixins";

.contact-details {
  @include fullPage;
  background-color: $contact-page-bg-clr;

  .btn-go-back {
    padding: 0.8em 1.6em;
    border-radius: 2em;
    margin-inline-start: 3em;
    margin-block: 1em;

    font-size: 1.6em;
    background-color: $btn-go-back-clr;

    &:hover {
      background-color: darken($btn-go-back-clr, 10%);
    }
  }

  .main-details {
    gap: 1em;

    .contact-name {
      font-size: 3.2em;
    }

    > *:not(.contact-name) {
      font-size: 1.8em;
    }

    .contact-img {
      margin-block-start: 1.5em;
    }
  }
}
