@import "../../../assets/scss/setup/vars";
@import "../../../assets/scss/setup/mixins";

.contact-filter {
  margin-block-end: 2em;
  gap: 1em;

  .filter-input {
    @include input;
    width: 30vw;
    border-radius: 16px;

    @include for-normal-layout {
      width: 60vw;
    }
  }

  .btn-add-contact {
    padding: 1em;
    border-radius: 16px;
    background-color: $active-link-clr;

    &::after {
      font-family: faSolid;
      content: "\f234";
      color: $main-bg-clr;
    }
  }
}
