@import "../../../assets/scss/setup/mixins";

.contact-filter {
  margin-block-end: 2em;

  .filter-input {
    width: 30vw;
    padding: 1rem;
    padding-inline-start: 1.2em;
    border: none;
    border-radius: 16px;

    font-size: 1.6em;

    @include for-normal-layout {
      width: 60vw;
    }
  }
}
